<!DOCTYPE html>
<html>
  <head>
    <title>UIKit Task</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- UIkit CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.6.10/dist/css/uikit.min.css"
    />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.10/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.10/dist/js/uikit-icons.min.js"></script>
  </head>
  <body>
    <div class="uk-padding">
      <h1>UIKit and Nunjucks</h1>
      <div class="uk-child-width-expand@s" uk-grid>
        {% block content %} {% endblock %}
      </div>
    </div>
  </body>
</html>
